<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta autor="Luis Jurado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='dist/css/main.min.css'/>
    <script type="text/javascript" src="dist/javascripts/main.min.js"></script>
    <title>To DO</title>
</head>
<body>
    <header class="Gridcontainer">
        <div>
        <h1>Pon tu tarea</h1>
        </div>
        <div>
        <input type="text" placeholder="escribe estupido">
        <button>Añade tarea</button>
         </div>
    </header>
    <section>
        <div class="lists">

        </div>
    </section>
</body>
</html>